.admin-form {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.admin-form div textarea {
    height: 100px;
    width: 100%;
}
.admin-form div:last-of-type textarea {
    height: 300px;
}

.admin-form div input:last-of-type {
    width: 100%;
}

.admin-form button {
    width: 150px;
    margin: auto;
}

.passcode-container {
    display: flex;
    max-width: 500px;
    margin: auto;
    flex-direction: column;
}

.passcode-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.passcode-container form button {
    width: 200px;
}